= render "navigation"

.container
  .row 
    .col-9 
      - if @posts.length != 0
        - @posts.each do |p|
          = render "post", post: p, isProfilePage: false
      - if @posts.length == 0
        .card
          .card-body{style: "text-align: center;"}
            %h6 You don't have any feed today, try explore our twitter world and follow someone!
    .col
      %div.mt-3
        %a.btn.btn-success{href: "#{create_post_page_path()}" ,style: "width: 100%; color: white;" ,role: "button"} Create Post